.header {
    height: 100 px;
}

.header h1 {
    text-align: center;
    color: white;
}

.pageheadings {
    float:right;
    text-align:center;
    color: white;
}

.body {
    text-align: center;
}

.footer {
}

.copyright {
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    color: white;
}
